* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(125, 120, 120, 0.663);
}